
.titlecls{
  display: flex;
}

.crosscls{
  margin-left: auto;
}


.navcls{
  display: flex;
}

.tempcls1{
  font-size: 1rem;
  margin-top: 8px;;
}

.searchInput{
  width: 250px;;
  padding: 5px;
  margin: 20px;;
}
.abc{
  background-color: blue;
  color: yellow;
}

.tempcls3{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  color: black;
}